In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import dataset

In [13]:
df = pd.read_csv("train1.csv")
df.head()
df.info()

df.drop(['Name','HomePlanet'],axis=1,inplace=True)

df.groupby('Transported').mean(numeric_only=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
Transported,,,,,,
False,29.922858,389.266066,382.615930,167.566217,564.382666,543.629822
True,27.748834,63.098021,532.691984,179.829972,61.675531,69.148131

#看有哪一個欄位資料缺太多

In [14]:
df.isnull().sum() > len(df)/2 
len(df)/2

4346.5

In [15]:
df.drop(['Cabin'],axis=1,inplace=True)

df['Age'].isnull().value_counts()

df['Age'].fillna(df['Age'].value_counts().idxmax(),inplace=True)
df['VIP'].fillna(df['VIP'].value_counts().idxmax(),inplace=True)
df['CryoSleep'].fillna(df['CryoSleep'].value_counts().idxmax(),inplace=True)
df['Destination'].value_counts().idxmax()
df['Destination'].fillna(df['Destination'].value_counts().idxmax(),inplace=True)

In [16]:
df = pd.get_dummies(data=df, dtype = int, columns= ['CryoSleep','Destination','VIP'])
df.head()
df.isnull().sum()

df.head()


df.corr()
X = df.drop(['Transported','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'],axis=1)
y = df['Transported']

#機器學習

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=67)

In [18]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=200)
lr.fit(X_train,y_train)
predictions = lr.predict(X_test)

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score, recall_score, precision_score
accuracy_score(y_test,predictions)
recall_score(y_test,predictions)
precision_score(y_test,predictions)
pd.DataFrame(confusion_matrix(y_test,predictions),columns=['Predictnot not Transported', 'Predict Transported'],index=['True not Transported','True Transported'])

                      Predictnot not Transported  Predict Transported
True not Transported                           0                 1296
True Transported                               0                 1312

#模型匯出

In [20]:
import joblib
joblib.dump(lr,'Spaceship-LR.pkl',compress=3)

['Spaceship-LR.pkl']